{{> essay-partials/header }}
{{> navigation }}
<div class="container-fluid post-container">
    <div class="post-side hidden-xs">
        <div class="sidebar">
            {{> essay-partials/media }}
            {{> essay-partials/tags }}
            {{> essay-partials/archives }}
        </div>
    </div>
    <div class="posts">
    	{{#if _header}}
			<header class="header-title"><h2>{{_header}}</h2></header>
    	{{/if}}
        <div class="posts-wrap">
        	{{#each posts}}
            <article class="post">
                <h2 class="post-title">
                    <a href="/essay/post/{{_id}}">{{title}}</a>
                </h2>
            	{{> essay-partials/post-dynamic post=this}}
                <div class="post-meta"><p>{{{html}}}</p></div>
                <a role="button" class="btn btn-t-2" href="/essay/post/{{_id}}">阅读全文 »</a>
            </article>
            {{else}}
            <article class="post">
                <h4 class="post-title">
                    暂无数据
                </h4>
            </article>
        	{{/each}}
        </div>
    </div>
</div>
{{> essay-partials/footer }}