{{> essay/header }}
{{> navigation }}
<div class="post-info-image">
    <div class="img" style="background-image: url({{post.image}})"></div>
</div>
<div class="container-fluid layout">
    <article>
        <header class="post-info-header">
            <h2 class="post-info-title">{{post.title}}</h2>
            <div class="post-dynamic" style="border: none">
                <ul class="pull-left">
                    <li><img class="img-circle" src="/public/img/zeev.jpg"></li>
                    {{#if post.author}}
                        <li class="author">{{post.author.name}}</li>
                    {{/if}}
                    <li>{{{moment post.created_at fromNow=true}}}</li>
                    <li class="hidden-xs">围观<strong>{{post.comments.length}}</strong>次</li>
                    <li class="hidden-xs"><strong>0</strong> 个不明物体</li>
                </ul>
                <div class="post-tags">
                    {{#each post.tags as |tag|}}
                        <div class="tag-item">
                            <a href="/essay/tags/{{tag._id}}">
                                <span>{{tag.name}}</span>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </header>
        <section class="post-wrap">
            <article style="margin-bottom: 0">
                <div class="post-content">
                    <p>{{{post.html}}}</p>
                </div>
                <footer class="post-footer">
                    <span class="author">
                        {{post.author.name}}
                    </span>
                    <span>发表于 {{{moment post.created_at fromNow=true}}}，</span>
                    <span>最后修改于 {{{moment post.published_at fromNow=true}}}</span>

                    <p class="tags-wrap" style="margin: 5px 0">
                        {{#each post.tags}}
                            <a class="tag h-btn btn-{{random 1 4}}" href="/essay/tags/{{_id}}">
                                <span>{{name}}</span>
                            </a>
                        {{/each}}
                    </p>
                </footer>
            </article>
            <footer class="post-nav">
                {{#compare prePost nextPost operator="||"}}
                    {{#if prePost}}
                        <a class="pull-left" title="{{prePost.title}}"
                           href="/essay/post/{{prePost._id}}">« {{prePost.title}}</a>
                    {{/if}}
                    {{#if nextPost}}
                        <a class="pull-right" title="{{nextPost.title}}"
                           href="/essay/post/{{nextPost._id}}">{{nextPost.title}} »</a>
                    {{/if}}
                {{else}}
                    <p class="text-center">没有更多了</p>
                {{/compare}}
            </footer>
            {{!--{{> essay/comments }}--}}
        </section>
    </article>
</div>
{{#contentFor 'scripts'}}
    <script src="{{asset '/bower_components/jquery/dist/jquery.js'}}"></script>
    <script src="{{asset '/bower_components/bootstrap/dist/js/bootstrap.js'}}"></script>
    <script type="text/javascript">
        /*
        $(function () {
            var $template  = $(".contents-items .template").clone().removeClass("template");
            var _h3        = $(".post-content h3");
            var _$contents = $(".contents-items");
            _h3.each(function (i) {
                var _$template = $template.clone();
                var _this      = $(this);
                if (!_this.attr("id")) {
                    _this.attr("id", "contents_" + i);
                }
                _$template.find("a")
                        .attr("scroll", "#" + _this.attr("id"))
                        .html(_this.html())
                        .on('click', function (e) {
                            e.preventDefault();
                            var id   = $(this).attr('scroll');
                            var goTo = $(id).offset().top - 30;
                            $("html, body").animate({ scrollTop: goTo }, 500);
                        });
                _$contents.append(_$template);
            })
            if (_h3.length == 0) {
                var _no_$template = $("<div class='text-left'>暂无目录结构</div>");
                $(".contents-wrap").append(_no_$template);
            }
            var contentsTop = $('.contents-aside').offset().top;
            contentsSticky();
            $(window).scroll(function () {
                contentsSticky();
            });
            function contentsSticky() {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > contentsTop) {
                    $('.contents-aside').css({ 'position': 'fixed', 'top': 0 });
                } else {
                    $('.contents-aside').css({ 'position': 'relative' });
                }
            }
        })
        */
    </script>
{{/contentFor}}
</body>


