<!DOCTYPE html>
<html lang="zh" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="柯子源的小站">
    <meta name="keywords" content="zeevkell zeev 柯子源 个人网站 {{keywords}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="zeev 柯子源">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- build:remove -->
    <meta http-equiv="Pragma" content="no-cache">
    <!-- endbuild -->

    <!--IE使用可用的最高版本的模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="viewport" content="initial-scale=1">

    <title>{{title}}</title>

     {{{block "styles"}}}

    {{> analytics }}

</head>
{{{body}}}
{{{block "scripts"}}}
</html>