<div class="comments-container">
    <section id="comments">
        <h1 class="comments-title">{{comments.length}} Comments</h1>
        <ul class="comments-wrap list-unstyled">
            {{#each comments}}
                <li id="comments_{{_id}}" class="comments-list clearfix">
                    <div class="comment-portrait">
                        <img class="portrait-img" src="{{visitor.image}}">
                    </div>
                    <div class="comment-body">
                        <header>
                            <span class="user">
                                {{#if visitor.url}}
                                    <a href="{{visitor.url}}">{{visitor.name}}</a>
                                {{else}}
                                    <a>{{visitor.name}}</a>
                                {{/if}}
                            </span>
                            <span class="theme-2">•</span>
                            <span>{{{moment created_at fromNow=true}}}</span>
                            {{#compare status 1 operator="<="}}
                                <span class="theme-2">•</span>
                                <span class="text-danger">未审核</span>
                            {{/compare}}
                        </header>
                        <div>
                            <p>{{content}}</p>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>
    <h4>发表评论</h4>

    <p>说明：个人主页或者微博地址会被公开链接，但Email 地址不会被公开显示。</p>

    <form action="/comment/{{post._id}}" method="post" role="form">
        <div class="form-group clearfix">
            <div class="comment-portrait">
                <img src="{{cookies.image}}" class="portrait-img">
                <input type="hidden" name="image" value="{{cookies.image}}">
            </div>
            <div class="pull-left" style="position: relative;top: 7px;">
                <input type="text" name="name" placeholder="称呼" class="form-control" value="{{cookies.name}}">
            </div>
            {{#if cookies.email}}
                <div class="pull-right" style="position: relative;top: 7px;">
                    <div class="checkbox text-primary">
                        <input type="checkbox" name="isUseRecord" checked
                               onchange="changeRecord()"><strong>使用记录中的Email</strong>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="form-group">
            <textarea name="content" required class="form-control" placeholder="点这里输入留言内容"
                      style="resize: vertical"></textarea>
        </div>
        <div class="form-group">
            <input type="email" name="email" required placeholder="Email 地址" class="form-control"
                   value="{{cookies.email}}">
        </div>
        <div class="form-group">
            <input type="url" name="url" placeholder="个人主页或者微博地址" class="form-control">
        </div>
        <div class="form-group text-right">
            评论需要等审核通过才会显示
            <button type="submit" class="btn btn-t-2">提交</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    function changeRecord() {
        console.log(this);
    }

</script>