<div class="post-dynamic">
    <ul>
        {{#if post.author}}
            <li class="author"><a>{{post.author.name}}</a></li>
        {{/if}}
        <li>{{{moment post.created_at}}}</li>
        <li><span>标签：</span>
            <div class="btn-group">
                {{#if post.tags}}
                    <a class="tag" href="/essay/tags/{{post.tags.[0]._id}}">
                        <span>{{post.tags.[0].name}}</span>
                    </a>
                {{else}}
                    <a>未分类</a>
                {{/if}}
                {{#compare post.tags.length 1 operator=">"}}
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle</span>
                    </a>
                    <ul class="tags-menu" role="menu">
                    {{#each post.tags as |tag|}}
                        {{#compare @index 0 operator=">"}}
                        <li>
                            <a class="h-btn btn-{{random 1 4}}" href="/essay/tags/{{tag._id}}">
                                <span>{{tag.name}}</span>
                            </a>
                        </li>
                        {{/compare}}
                    {{/each}}
                    </ul>
                {{/compare}}
            </div>
        </li>
        <li class="hidden-xs">共 <strong>0</strong> 人围观</li>
        <li class="hidden-xs"><strong>0</strong> 个不明物体</li>
    </ul>
</div>