<%- include header.ejs %>
<%- include navigation.ejs %>
<div class="container-fluid archive-container">
    <article>
        <h2>归档</h2>
        <% for(var i = 0;i < archives.length;i++){  var archive = archives[i] %>
        <section class="archive-wrap">
            <h3 class="archive-title"><%= moment(archive._id, 'YYYY年MM月DD日') %><span>(<%= archive.count %>)</span></h3>
            <ul>
                <% for(var j = 0;j < archive.posts.length;j++){  var post = archive.posts[j] %>
                <li class="archive">
                    <a href="/essay/post/<%= post._id %>"><%= post.title %></a>
                    <span class="archive-date"><%= moment(post.created_at, 'L') %></span>
                </li>
                <% } %>
            </ul>
        </section>
        <% } %>
    </article>
</div>
<%- include footer.ejs %>