<%- include header.ejs %>
<%- include navigation.ejs %>
<div class="container-fluid post-container">
    <div class="post-side hidden-xs">
        <div class="sidebar">
            <aside>
                <h3 class="aside-title">标签</h3>

                <div class="aside-wrap tags-wrap">
                    <% for(var i = 0;i < tags.length;i++){ %>
                    <a class="tag" href="tags/<%= tags[i]._id %>"><%= tags[i].name %></a>
                    <% } %>
                </div>
            </aside>
        </div>
    </div>
    <div class="posts">
        <div class="posts-wrap">
            <% for(var i = 0;i < posts.length;i++){ %>
            <article class="post">
                <h1 class="post-title">
                    <a href="post/<%= posts[i]._id %>"><%= posts[i].title %></a>
                </h1>

                <div class="post-dynamic">
                    <ul>
                        <li>zeev 发布于 <%= moment(posts[i].created_at) %> </li>
                        <li>栏目：
                            <% if (posts[i].tags){ %>
                            <% for(var j = 0;j < posts[i].tags.length;j++){ %>
                                <a class="tag" href="tags/<%= posts[i].tags[j]._id %>"><%= posts[i].tags[j].name %></a>
                            <% } %>
                            <% }else{ %>
                            <a>未分类</a>
                            <% } %>
                        </li>
                        <li class="hidden-xs">共 <strong>0</strong> 人围观</li>
                        <li class="hidden-xs"><strong>0</strong> 个不明物体</li>
                    </ul>
                </div>
                <div class="post-meta"><%- posts[i].html %></div>
            </article>
            <% } %>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/base.js"></script>
<script type="text/javascript" src="/essay/js/index.js"></script>
<%- include footer.ejs %>