<%- include header.ejs %>
<%- include navigation.ejs %>
<div class="container-fluid post-container">
    <div class="post-side hidden-xs">
        <div class="sidebar">
            <%- include("particals/tags",{tags:tags}) %>
            <%- include("particals/archives",{archives:archives}) %>
        </div>
    </div>
    <div class="posts">
        <div class="posts-wrap">
            <% for(var i = 0;i < posts.length;i++){ var post = posts[i]; %>
            <article class="post">
                <h2 class="post-title">
                    <a href="/essay/post/<%= post._id %>"><%= post.title %></a>
                </h2>

                <div class="post-dynamic">
                    <ul>
                        <% if(post.author) { %>
                        <li class="author"><a><%= getParse(post, "author.name") %></a></li>
                        <% } %>
                        <li><%= moment(post.created_at) %></li>
                        <li><span>标签：</span>

                            <div class="btn-group">
                                <% if (post.tags && post.tags.length > 0){ %>
                                <a class="tag" href="/essay/tags/<%= post.tags[0]._id %>"><%= post.tags[0].name %></a>
                                <% if (post.tags.length > 1){ %>
                                <a type="button" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle</span>
                                </a>
                                <ul class="tags-menu" role="menu">
                                    <% for(var j = 1;j < post.tags.length;j++){ %>
                                    <li><a class="hvr-sweep-to-bottom"
                                           href="/essay/tags/<%= post.tags[j]._id %>"><%= post.tags[j].name %></a>
                                    </li>
                                    <% } %>
                                </ul>
                                <% } %>
                                <% }else{ %>
                                <a>未分类</a>
                                <% } %>
                            </div>
                        </li>
                        <li class="hidden-xs">共 <strong>0</strong>人围观</li>
                        <li class="hidden-xs"><strong>0</strong> 个不明物体</li>
                    </ul>
                </div>
                <div class="post-meta"><p><%- post.html %></p></div>
                <a role="button" class="btn-link" href="/essay/post/<%= post._id %>">阅读全文 »</a>
            </article>
            <% } %>
        </div>
    </div>
</div>
<%- include footer.ejs %>