<%- include header %>
<%- include navigation %>
<div class="container-fluid">
    <article>
        <header>
            <h2 class="post-title"><a><%= post.title %></a></h2>

            <div class="post-dynamic">
                <ul>
                    <% if(post.author) { %>
                    <li class="author"><a><%= getParse(post, "author.name") %></a></li>
                    <% } %>
                    <li><%= moment(post.created_at) %></li>
                    <li><span>标签：</span>

                        <div class="btn-group">
                            <% if (post.tags && post.tags.length > 0){ %>
                            <a class="tag" href="tags/<%= post.tags[0]._id %>"><%= post.tags[0].name %></a>
                            <% if (post.tags.length > 1){ %>
                            <a type="button" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle</span>
                            </a>
                            <ul class="tags-menu" role="menu">
                                <% for(var j = 1;j < post.tags.length;j++){ %>
                                <li><a class="hvr-sweep-to-bottom"
                                       href="tags/<%= post.tags[j]._id %>"><%= post.tags[j].name %></a>
                                </li>
                                <% } %>
                            </ul>
                            <% } %>
                            <% }else{ %>
                            <a>未分类</a>
                            <% } %>
                        </div>
                    </li>
                    <li class="hidden-xs">共 <strong>0</strong> 人围观</li>
                    <li class="hidden-xs"><strong>0</strong> 个不明物体</li>
                </ul>
            </div>
        </header>
        <div class="post-content">
            <p><%- post.html %></p>
        </div>
        <footer></footer>
    </article>
</div>
<script type="text/javascript" src="/essay/js/post.js"></script>
<%- include footer %>

